<%= render partial: 'layouts/header' %>

<% provide :title, 'Home' %>

<div id='home' class='jumbotron'>
 <div class='container'>
	 <div class='row'>
		  <div class='col-md-11 col-md-offset-1'>
        <ul class='list-unstyled'>
         <li><h4 class='text-left'>NÓS SOMOS A ALVOROÇO FILMES</h4></li>
         <li><h1 class='text-center'><strong>ALVOROÇO
         <i class='glyphicon glyphicon-search'></i> FILMES</strong></h1></li>
         <li><p class='text-right'> Lorem ipsum lorem siamet dolor.</p></li>
        </ul><!-- list-unstyled -->
		 </div><!--  col-md-12 -->
	  </div><!-- row -->
   </div><!-- container -->
</div><!-- presenter -->

<section id='about'>
  <div class='container'>
  	 <div class='row'>
  	 	<div class='col-md-12' ng-controller='TabController as tabCtrl'>

  	 		 <ul class='breadcrumb'>
  	 		 	<li><%= link_to 'Home', '' %></li>
  	 		 </ul><!-- list-unstyled -->

  	 		 <ul class='list-unstyled list-inline'>
  	 		 	 <li><a href="" ng-click="tabCtrl.setTab(1)">ALVOROÇO FILMES</a></li>
  	 		 	 <li><a href="" ng-click="tabCtrl.setTab(2)">EVANDRO BERLESI</a></li>
         </ul><!-- list-unstyled -->
         <hr>

  	 		<div class='row' ng-show="tabCtrl.getTab(1)">

        <ul class='list-unstyled text-center'>
            <li><h1><strong>SERVIÇOS</strong></h1></li>
            <li><p>Conheça todos os nossos serviços.</p></li>
            <li><br></li>
        </ul><!-- list-unstyled -->

         <div class='col-md-4 col-sm-4 col-xs-4'>
  	 		 	  <ul class='list-unstyled text-center padding'>
  	 		 	  	 <li><h1><%= fa_icon 'facebook' %></h1></li>
  	 		 	  	 <li><h3><strong>VT PUBLICITÁRIO</strong></h3></li>
               <li><p>Lorem ipsum lorem siamet dollor imet irlhem. lorem
               ipsum lorem dolor imet siamet ilrhm.</p></li>
  	 		 	  </ul><!-- list-unstyled -->
  	 		 </div><!-- col-md-6 -->

  	 		 <div class='col-md-4 col-sm-4 col-xs-4'>
  	 		 	  <ul class='list-unstyled text-center padding'>
  	 		 	     <li><h1><%= fa_icon 'twitter' %></h1></li>
  	 		 	  	 <li><h3><strong>VIDEO INSTITUCIONAL</strong></h3></li>
               <li><p>Lorem ipsum lorem siamet dollor imet irlhem. lorem
               ipsum lorem dolor imet siamet ilrhm.</p></li>
  	 		 	  </ul><!-- list-unstyled -->
  	 		 </div><!-- col-md-6 -->

  	 		 <div class='col-md-4 col-sm-4 col-xs-4'>
  	 		 	  <ul class='list-unstyled text-center padding'>
  	 		 	  	 <li><h1><%= fa_icon 'linkedin' %></h1></li>
  	 		 	  	 <li><h3><strong>PROJETOS CINEMA E TELEVISÃO</strong></h3></li>
               <li><p>Lorem ipsum lorem siamet dollor imet irlhem. lorem
               ipsum lorem dolor imet siamet ilrhm.</p></li>
  	 		 	  </ul><!-- list-unstyled -->
  	 		 </div><!-- col-md-6 -->

  	 		 <div class='col-md-4 col-sm-4 col-xs-4
          col-xs-offset-2 col-sm-offset-2 col-md-offset-2'>
  	 		 	  <ul class='list-unstyled text-center padding'>
  	 		 	  	 <li><h1><%= fa_icon 'vimeo' %></h1></li>
  	 		 	  	 <li><h3><strong>AUDIOVISUAL EM GERAL</strong></h3></li>
               <li><p>Lorem ipsum lorem siamet dollor imet irlhem. lorem
               ipsum lorem dolor imet siamet ilrhm.</p></li>
  	 		 	  </ul><!-- list-unstyled -->
  	 		 </div><!-- col-md-12 -->

  	 		 <div class='col-md-4 col-sm-4 col-xs-4'>
  	 		 	  <ul class='list-unstyled text-center padding'>
  	 		 	  	 <li><h1><%= fa_icon 'youtube' %></h1></li>
  	 		 	  	 <li><h3><strong>OFICINA PARA CINEMA, TELEVISÃO</strong></h3></li>
               <li><p>Lorem ipsum lorem siamet dollor imet irlhem. lorem
               ipsum lorem dolor imet siamet ilrhm.</p></li>
  	 		 	  </ul><!-- list-unstyled -->
  	 		 </div><!-- col-md-12 -->
  	 	 </div>

  	 	   <div class='row' ng-show='tabCtrl.getTab(2)'>
  	 	   	 <div class='col-md-12'>
  	 	   	 	 <h2><strong>EVANDRO BERLESI</strong></h2>
  	 	   	 	 <h5 class='badge'>Roteirista,Escritor e Diretor</h5>

  	 	   	 	 <p>Engressou no unviverso artistico em 1995 através do teatro,
  	 	   	 	  destacando-se como ator em diversas montagens cênicas. Descobriu
  	 	   	 	  sua habilidade de escrever ainda na infancia, quando criava pequenos
  	 	   	 	  roteiros de filmes sonhando um dia trabalhar com cinema.

  	 	   	 	  Em 2005, com o curta metragem o Japonês da Coréia (direção de Rodrigo
  	 	   	 	  Castelhano), seu 5 roteiro filmado, Evandro destacou-se na função de
  	 	   	 	  roteirista após acumular 10 prêmios em festivais nacionais, incluindo de
  	 	   	 	  melhor roteiro.

  	 	   	 	  Em 2006 foi o grande vencedor do Prêmio Revelação Literária da Feira do
  	 	   	    Livro de Porto Alegre.

  	 	   	    Em 2007, escreveu e lançou seu primeiro livro (independente) Eu odeio o
  	 	   	    Orkut, destacando-se nacionamente em programas como o programa do Jô (Rede Globo),
  	 	   	    charme (SBT), Pânico (Jovem Pan)...

  	 	   		  Em 2008 lançou seu primeiro longa metragem (roteiro e direção, que divide com
  	 	   	  	Castelhano), a comédia romântica Dá 1 Tempo! (filme que teve estreia na 13 Mostra
  	 	   	    de Cinema Tiradentes/MG) e seu segundo livro Arrependimento Mata (Besouro Box),
  	 	   	    recebendo da Prefeitura Municipal de Alvorada o titulo de honra ao mérito pelo
  	 	   	    trabalho realizado. Evandro também escreveu roteiros para televisão: seriado
  	 	   	    vidAnormal (TvCom/RBS) e duas micro-séries para o SBT, Verão o Amor e perfume de
  	 	   	    de Hortênsia (direção de Ivo Schergi Jr.). em 2009 inaugurou a produtora Alvoroço
  	 	   	    Filmes realizando o projeto Alvoroço nas Escolas, onde diversos alunos da rede publica
  	 	   	    da cidade aprenderam a fazer cinema na prática, realizando 4 curtas: Preserve-se,
  	 	   	    Tecnicamente Apavorados, Achei um violão e Tem gente! (selecionados para 4 festivais
  	 	   	    de cinema em 2010)

  	 	   	    Em maio de 2010 realizou um longe metragem em apenas 3 dias. Video Suícida é uma
  	 	   	    experiencia cinematográfica totalmente independente e solitária. O filme foi escrito
  	 	   	    , dirigido, produzido e editado por Evandro.

  	 	   	    Em 2011 lançou o longa Eu odeio o Orkut, adaptação do seu livro, com Jairo Mattos,
  	 	   	    Julio Rocha e Luana Piovani no elenco (distribuição Amazon).

  	 	   	    Devido ao sucesso da primeira edição do projeto. 2012 foi o ano do Alvoroço nas
  	 	   	    Escolas 2, desta vez concluido com 5 curtas totalmente produzidos com alunos das
  	 	   	    escolas municipais de Alvorada:  A gangue do batom, Quem vê bullying não ve coração,
  	 	   	    O ano do tsunami (Selecionado para 11 Santa Maria Vídeo e Cinema/2013) e traz papel!
  	 	   	    (Vencedor do 7 festival Cine Favela-SP).

  	 	   		  No momento Evandro está em fase de pré produção do seu 4 longa metragem, seguindo a sua
  	 	   		  "Trilogia do Ódio" com Eu odeio o Big Bróther, e publicando seu terceiro livro Game Over
  	 	   	    - um inferno chamado casamento, (Besouro Box), lançamento previsto para Junho/2013.</p>
  	 	   	 </div>
  	 	   </div>

  	 	</div><!-- col-md-12 -->
  	 </div><!-- row -->
  </div><!-- container -->
</section>

<section id='projects' ng-controller="ProjectsController as projectCtrl">
   <div class='container'>
   	  <div class='row'>
   	  	<div class='col-md-12'>
   	  		<ul class='list-unstyled text-center'>
   	  		   <li><h1><strong><i class='glyphicon glyphicon-search'></i>
             PROJETOS</h1></strong></li>
   	  		   <li><p>Conheça nossos projetos.</p></li>
   	  		   <li><br></li>
   	  		</ul><!-- list-unstyled -->

   	  		<div class='col-md-4 col-xs-6 col-sm-6'
           ng-repeat="project in projectCtrl.projects">
   	  		  <div class='project panel panel-default'>
   	  		  	<ul class='list-unstyled padding'>
   	  		  	   <li><a href=''><h4><strong>{{ project.name }}</strong></h4></li></a>
   	  		  	   <li><p>{{ project.description | limitTo : 70 }}</p></li>
   	  		  	   <li><button class='btn btn-primary btn-lg top'>
   	  		  	     VER MAIS
   	  		  	   </button></li>
   	  		  	</ul><!-- list-unstyled -->
   	  		  </div><!-- panel panel-default -->
   	  		</div><!-- col-md-4 -->

   	  	</div><!-- col-md-12 -->
   	  </div><!-- row -->
   </div><!-- container -->
</section><!-- projects -->

<section id='films' ng-controller="FilmsController as filmCtrl">
  <div class='container'>
  	<div class='row'>
  	   <div class='col-md-12'><br><br>
  	   	  <ul class='list-unstyled text-center'>
  	   	  	 <li><h1><strong><i class='glyphicon glyphicon-search'></i> FILMES</h1></strong></li>
  	   	  	 <li><p>Conheça nossos filmes</p></li>
  	   	  </ul><!-- list-unstyled -->

  	   	  <div class='col-md-12'>
  	   	  	<div class='col-md-4 col-md-offset-4'>
  	   	  		<%= form_for(:film) do |f| %>
                <div class='field'>
                  <%= f.text_field :name, class: 'form-control', required: 'required',
                  placeholder: 'Buscar filme...', autocomplete: 'off', 'ng-model': 'name' %>
                </div><!-- field -->
  	   	  		<% end %><br>
  	   	  	</div><!-- col-md-4 -->
  	   	  </div><!-- col-md-12 -->

  	   	  <div class='film col-md-4 col-sm-4 col-xs-6'
            ng-repeat="film in filmCtrl.films | filter: name | limitTo: 3 ">
  	   	  	 <div class='panel panel-default'>
              <div class='thumb'></div>
  	   	  	 	<ul class='list-unstyled text-center padding'>
  	   	  	 		<li><a href=''><h4><strong>{{ film.name }}</strong></h4></a></li>
  	   	  	 		<li><p>{{ film.description | limitTo: 87 }}...</p></li>
                <ul class='list-unstyled list-inline'>
                  <li><button class='btn btn-default btn-lg top'>VER MAIS</button></li>
                  <li><button class='btn btn-default btn-lg top'>COMPARTILHAR</button></li>
                </ul>
              </ul><!-- list-unstyled -->
  	   	  	 </div><!-- panel panel-default -->
  	   	  </div><!-- col-md-4 -->

          <div class='row'>
            <div class="col-md-12" ng-show='filmCtrl.films.length == 0 | filter: name '>
               <p class='well text-center'>
                  Nenhum filme encontrado para <a href=''>{{ name }}</a>
               </p>
            </div><!-- col-md-12 -->
          </div><!-- row <--></-->
  	   </div><!-- col-md-12 -->
  	</div><!-- row -->
  </div><!-- container -->
</section><!-- films -->

<section id='contact'>
	<div class='container'>
	   <div class='row'>
	   	  <div class='col-md-12'>
	   	  	 <ul class='list-unstyled text-center'>
	   	  	 	<li><h1><i class='glyphicon glyphicon-search'></i> CONTATO</h1></li>
	   	  	 	<li><p>Entre em contato conosco.<p></li>
	   	  	 	<li><br></li>
	   	  	 </ul><!-- lsit-unstyled -->

	   	  	 <div class='col-md-12'>
	   	  	   <%= render partial: 'contact/form' %>
	   	   	 </div>
	   	  </div><!-- col-md-12 -->
	   </div><!-- row -->
	</div><!-- container -->
</section><!-- contact -->

<%= render partial: 'layouts/footer' %>
