<footer>
  <div class="container">
  	 <div class="row">
  	 	 <div class="col-md-12">
           <div class="col-md-4 col-sm-4 col-xs-4">
             <ul class='list-unstyled'>
                <li><h5>COPYRIGHT &copy <strong>ALVOROÇO
                FILMES</strong> <%= Date.today.year %></p></li>
                <li><p>Engeneering by <a href=''><b>CODE7EVEN</b></a></p></li>
             </ul>
           </div>
           <div class="col-md-4 col-sm-4 col-xs-4">
             <ul class='list-unstyled list-inline text-center'>
              <li><a href="#"><%= fa_icon 'twitter' %></a></li>
              <li><a href="#"><%= fa_icon 'facebook' %></a></li>
              <li><a href="#"><%= fa_icon 'linkedin' %></a></li>
            </ul>
           </div>
           <div class="col-md-4 col-sm-4 col-xs-4">
             <ul class='list-unstyled list-inline'>
               <li><%= link_to 'Politica de Privacidade', '' %></li>
               <li><%= link_to 'Termos de Uso', '' %></li>
               <li><%= link_to 'Cookies', '' %></li>
             </ul>
           </div>
  	 	 </div>
  	 </div>
  </div>
</footer>
