<!DOCTYPE html>
<htm ng-app='app'>
  <head>
    <title> Alvoroco Filmes | <%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	<style><%= yield :css %></style>
  	<javascript><%= yield :js %></javascript>
  </head>

  <body class="<%= controller.controller_name %>" 
  	ng-controller='ApplicationController' data-spy='scroll'>
    <%= yield %>
  </body>
</html>
